@tailwind base;

@tailwind components;

@tailwind utilities;

.card figure {
  width: 15rem !important
}

.aurora {
  background-image: url(/img/bg1.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: -3.5vw;
}
.aurora-overlay {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  mix-blend-mode: lighten;
  background: linear-gradient(217deg,#d549dd,#03e5f2,#03f241);
  background-size: 400% 400%;
  animation: aurora-overlay 10s ease infinite;
}

.feature::after {
  content: "";
  position: absolute;
  border-radius: 8px;
  top: 8px;
  left: -8px;
  width: 100%;
  height: 100%;
  background: linear-gradient(#e5edf0,#eaf2ea);
  animation: gradient 10s ease infinite;
  z-index: -1;

}

.adj-cursor::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 12px;
  background-color: rgba(255, 192, 203, 0.715);
  z-index: -1;
}

@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist-Regular.otf') format('otf'),
       url('/fonts/Geist-Regular.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist-Bold.woff2') format('woff2'),
       url('/fonts/Geist-Bold.otf') format('otf');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist-SemiBold.woff2') format('woff2'),
       url('/fonts/Geist-SemiBold.otf') format('otf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist-Light.otf') format('otf'),
       url('/fonts/Geist-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist-Medium.otf') format('otf'),
       url('/fonts/Geist-Medium.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'GeistMono';
  src: url('/fonts/GeistMono-Medium.otf') format('otf'),
       url('/fonts/GeistMono-Medium.woff2') format('woff2');
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: 'GeistMono';
  src: url('/fonts/GeistMono-Regular.otf') format('otf'),
       url('/fonts/GeistMono-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


.section--bg {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform-origin: 100% 0;
  transform: skewY(-2deg);
  overflow: hidden;
}