<section id="hero-section" class="py-16 lg:py-32 lg:pb-12 pt-16! min-h-screentext-center relative" style="background: var(--color-primary); background-image: url(/asset/images/noise-light.png);" >
  <div class="max-w-6xl mx-auto text-center">
    <!-- ORCID Certification Box -->
     <div class="mx-auto mb-6 flex place-content-center">
      <div class="bg-base-100 border border-base-content/5 rounded-full p-2 pr-4 text-left shadow-lg flex items-center">
        <div class="flex items-center gap-2">
          <!-- ORCID iD Icon -->
          <div class="flex-shrink-0 w-6 h-6 bg-green-600 rounded-full flex items-center justify-center">
            <span class="text-white font-bold text-lg">iD</span>
          </div>
          
          <!-- Content -->
          <div class="flex-1">
            <h3 class="text-sm font-semibold text-base-content">
              Certified ORCID  Service Provider
            </h3>
          </div>
        </div>
      </div>
    </div>

    <!-- Main Heading -->
    <h1 class="text-primary-content font-semibold mt-2 sm:text-6xl sm:text-balance text-4xl text-pretty tracking-tight mb-4">
      Reclaim Scientific Discourse
    </h1>
    
    <!-- Subtitle -->
    <p class="text-xl text-center lg:text-2xl text-primary-content/90 mb-12 leading-[130%] max-w-xl mx-auto">
      Open, federated digital spaces where researchers control their conversations, data and collaborations in the open social web.
    </p>
    
    <!-- Description -->
    <!-- <p class="text-base-content font-semibold text-xl  max-w-2xl mx-auto mb-12">
      Join leading institutions and communities building the future of scientific communication in the open social web.
    </p> -->
    
    <!-- CTA Buttons -->
    <div class="flex items-center text-center mx-auto flex-col sm:flex-row gap-8 place-content-center items-center mb-12">
      <a href="#" class="btn btn-lg btn-wide text-base">
        Start a server
      </a>
      <a href="#" class="btn btn-lg btn-wide btn-primary text-base">
        Book a call
      </a>
    </div>
    <div class="relative overflow-hidden">
    <div class="mx-auto max-w-6xl px-6 lg:px-8">
      <img width="2432" height="1442" src="asset/images/mock2.png" alt="App screenshot" class="rounded-xl shadow-2xl ring-4 ring-base-content/30" />
      <!-- <div aria-hidden="true" class="relative">
        <div class="absolute -inset-x-20 bottom-0 bg-linear-to-t from-base-100 pt-[7%]"></div>
      </div> -->
    </div>
  </div>
    
  </div>
</section>