<div id="partners" class="py-12 bg-accent/10 relative">
  <div class="mx-auto max-w-6xl px-4 lg:px-0">
    <h2 class="text-center text-lg/8 text-base-content/70">Trusted by the world’s most innovative teams</h2>
    <div class="mx-auto mt-10 grid max-w-lg grid-cols-4 items-center gap-x-8 gap-y-10 sm:max-w-xl sm:grid-cols-6 sm:gap-x-10 lg:mx-0 lg:max-w-none lg:grid-cols-5">
      <img width="158" height="48" src="asset/images/elifebn.png" alt="Transistor" class="col-span-2 max-h-12 w-full object-contain lg:col-span-1 dark:hidden" />
      <img width="158" height="48" src="asset/images/orcidbn.png" alt="Transistor" class="col-span-2 max-h-12 w-full object-contain lg:col-span-1 dark:hidden" />
      <img width="158" height="48" src="asset/images/scietybn.png" alt="Transistor" class="col-span-2 max-h-12 w-full object-contain lg:col-span-1 dark:hidden" />
      <img width="158" height="48" src="asset/images/newsmastbn.png" alt="Transistor" class="col-span-2 max-h-12 w-full object-contain lg:col-span-1 dark:hidden" />
      <img width="158" height="48" src="asset/images/ansbn.png" alt="Transistor" class="col-span-2 max-h-12 w-full object-contain lg:col-span-1 dark:hidden" />
    </div>
  </div>
</div>


<!-- <section class="py-12 pt-6">
  <div class="max-w-6xl mx-auto px-4 lg:px-0">
    <div class="max-w-6xl bg-base-content/20 p-4 pb-8 rounded-box shadow-lg mx-auto">
       <h2 class="text-lg pb-4 mb-8 border-b border-base-content/30 text-base-content text-center">
         In partnership with
       </h2>
       
        <div class="grid grid-cols-2 lg:grid-cols-4 gap-8 gap-y-12 ">
          
          <div class="flex border-r border-base-content/30 justify-center flex-1">
            <img src="/asset/images/partners/elife.png" alt="eLife" class="h-8 lg:h-16 w-auto object-contain">
          </div>
          <div class="flex px-8 border-r border-base-content/30 items-center justify-center flex-1">
            <img src="/asset/images/partners/sciety.svg" alt="sciety" class="h-8 lg:h-16 w-auto object-contain">
          </div>
          <div class="flex items-center justify-center flex-1 border-r border-base-content/30">
            <img src="/asset/images/partners/newsmast.webp" alt="newsmast" class="h-8 lg:h-16 w-auto object-contain">
          </div>
          <div class="flex items-center justify-center flex-1">
            <img src="/asset/images/partners/elife.png" alt="eLife" class="h-8 lg:h-16 w-auto object-contain">
          </div>
          <div class="flex px-8  items-center justify-center border-r border-base-content/30 flex-1">
            <img src="/asset/images/partners/sciety.svg" alt="sciety" class="h-8 lg:h-16 w-auto object-contain">
          </div>
          <div class="flex items-center justify-center flex-1">
            <img src="/asset/images/partners/newsmast.webp" alt="newsmast" class="h-8 lg:h-16 w-auto object-contain">
          </div>
          
          
          
        </div>
     </div>
  </div>
</section> -->