<div id="partners" class="py-24 pt-8 relative">
  <div class="mx-auto max-w-6xl px-4 lg:px-0">
    <h2 class="text-center text-lg/8 text-base-content/70">Trusted by the world’s most innovative teams</h2>
    <div
      class="mx-auto mt-10 grid max-w-lg grid-cols-4 items-center gap-x-8 gap-y-10 sm:max-w-xl sm:grid-cols-6 sm:gap-x-10 lg:mx-0 lg:max-w-none lg:grid-cols-5">
      <a href="https://orcid.org/" target="_blank" rel="noopener">
        <img width="158" height="48" src="/asset/images/orcidbn.png" alt="ORCID"
          class="col-span-2 max-h-12 w-full object-contain lg:col-span-1 " />
      </a>
      <a href="https://bonfirenetworks.org/" target="_blank" rel="noopener">
        <img width="158" height="48" src="/asset/images/bonfirebn.png" alt="Bonfire"
          class="col-span-2 max-h-12 w-full object-contain lg:col-span-1 " />
      </a>
    
      <a href="https://hcommons.org" target="_blank" rel="noopener">
        <img width="158" height="48" src="/asset/images/kcbn.png" alt="Knowledge Commons"
          class="col-span-2 max-h-12 w-full object-contain lg:col-span-1 " />
      </a>
    
      <a href="https://www.sciety.org/" target="_blank" rel="noopener">
        <img width="158" height="48" src="/asset/images/scietybn.png" alt="Sciety"
          class="col-span-2 max-h-12 w-full object-contain lg:col-span-1 " />
      </a>
    
      <a href="https://elifesciences.org/" target="_blank" rel="noopener">
        <img width="158" height="48" src="/asset/images/elifebn.png" alt="elife"
          class="col-span-2 max-h-12 w-full object-contain lg:col-span-1 " />
      </a>
    
      <a href="https://www.newsmastfoundation.org/" target="_blank" rel="noopener">
        <img width="158" height="48" src="/asset/images/newsmastbn.png" alt="Newsmast"
          class="col-span-2 max-h-12 w-full object-contain lg:col-span-1 " />
      </a>
      <a href="https://anew.social/" target="_blank" rel="noopener">
        <img width="158" height="48" src="/asset/images/ansbn.png" alt="Anew Social"
          class="col-span-2 max-h-12 w-full object-contain lg:col-span-1 " />
      </a>
      <a href="https://unif.fr/en/" target="_blank" rel="noopener">
        <img width="158" height="48" src="/asset/images/unifbn.png" alt="Paris / Île-de-France Digital University"
          class="col-span-2 max-h-12 w-full object-contain lg:col-span-1 " />
      </a>
    </div>
  </div>
</div>