<section class="py-16 lg:py-20">
  <div class="max-w-6xl mx-auto px-4 lg:px-0">
    <!-- Section Header -->
    <div class="text-left mb-12">
      <h2 class="text-5xl text-center font-semibold font-serif mb-6">Why Open Science Network</h2>
      <p class="text-xl text-base-content/80 text-center mx-auto max-w-3xl">
        Unlike commercial platforms designed to extract value from research communities, the Open Science Network puts
        communities
        in control of their digital infrastructure.
      </p>
    </div>

    <!-- Comparison Table -->
    {% include "sections/table.html" %}
  </div>
</section>