<div class="bg-primary">
  <div class="px-6 py-24 sm:py-32 lg:px-8">
    <div class="mx-auto max-w-6xl">
      <h2 class="text-5xl text-left font-semibold tracking-tight font-serif text-balance text-primary-content sm:text-5xl">Start Risk-Free</h2>
      <p class="mt-6 max-w-2xl text-base-100 text-3xl font-medium ">Pilot programs available. Full data portability and source code access guarantee you're never locked in.</p>
      <!-- <p class="mx-auto mt-6 max-w-xl text-lg/8 text-pretty text-indigo-200">Begin with 50-100 researchers and scale when you see results. Complete technical migration support included.</p> -->
      <div class="mt-10 flex items-center  gap-x-6">
        <a href="#" class="btn btn-xl rounded-full"> Start a pilot </a>
        <a href="#" class="btn btn-xl rounded-full"> Read more </a>
        
      </div>
    </div>
  </div>
</div>
