<div class="py-24 sm:py-12">
  <div class="mx-auto max-w-6xl px-4 lg:px-0">
    <div class="mx-auto max-w-2xl text-center">
      <p class="mt-2 text-4xl font-semibold font-serif tracking-tight text-balance sm:text-5xl">What researchers are
        saying</p>
    </div>
    <div class="mx-auto mt-16 flow-root max-w-2xl sm:mt-20 lg:mx-0 lg:max-w-none">
      <div class="-mt-8 sm:-mx-4 sm:columns-2 sm:text-[0] lg:columns-3">
        <div class="pt-8 sm:inline-block w-full">
          <figure class="rounded-2xl bg-gray-50 p-8 text-sm/6 dark:bg-white/2.5">
            <blockquote class="text-lg text-gray-600 dark:text-gray-400">
              <p>“The Open Science Network offers a comprehensive platform for scientific collaboration and
                communication. I strongly encourage research organisations to adopt it and embrace the future of open,
                interoperable research partnerships.”</p>
            </blockquote>
            <figcaption class="mt-6 flex items-start gap-x-4">
              <img
                src="https://cdn.masto.host/indiewebsocial/cache/accounts/avatars/114/104/559/671/046/767/original/b08fc62dfed3d3dd.jpeg"
                alt="" class="size-10 rounded-full bg-gray-50 dark:bg-gray-800" />
              <div>
                <div class="font-semibold text-gray-600 dark:text-gray-400">
                  <a href="https://kumulonimb.us" target="_blank" rel="noopener" class="hover:underline">Dr Jorge
                    Saturno</a>
                </div>
                <div class="mt-2 italic text-gray-600 dark:text-gray-400">Research Scientist</div>
                <div class="text-gray-600 dark:text-gray-400">Physikalisch-Technische Bundesanstalt</div>
                <div class="mt-2 italic text-gray-600 dark:text-gray-400">Editor</div>
                <div class="text-gray-600 dark:text-gray-400">Niboe</div>
                <div class="text-gray-600 dark:text-gray-400 mt-2">@jorgeluis@pub.solar</div>
              </div>
            </figcaption>
          </figure>
        </div>

        <div class="pt-8 sm:inline-block w-full">
          <figure class="rounded-2xl bg-gray-50 p-8 text-sm/6 dark:bg-white/2.5">
            <blockquote class="text-lg text-gray-600 dark:text-gray-400">
              <p>“The Open Science Network is a transformative initiative, empowering researchers to shape the future of
                scientific communication. By fostering researcher-led governance, it has the potential to redefine how
                scientific discourse is conducted and shared.”</p>
            </blockquote>
            <figcaption class="mt-6 flex items-start gap-x-4">
              <img
                src="https://cdn.masto.host/indiewebsocial/cache/accounts/avatars/109/347/286/155/797/088/original/c1f20d13d18ab718.jpg"
                alt="" class="size-10 rounded-full bg-gray-50 dark:bg-gray-800" />
              <div>
                <div class="font-semibold text-gray-600 dark:text-gray-400">
                  <a href="https://jacoates.co.uk" target="_blank" rel="noopener" class="hover:underline">Dr Jonny
                    Coates</a>
                </div>
                <div class="mt-2 italic text-gray-600 dark:text-gray-400">Open Science Advocate</div>
                <div class="text-gray-600 dark:text-gray-400 mt-2">@JACoates@mstdn.social</div>
              </div>
            </figcaption>
          </figure>
        </div>
        <div class="pt-8 sm:inline-block w-full">
          <figure class="rounded-2xl bg-gray-50 p-8 text-sm/6 dark:bg-white/2.5">
            <blockquote class="text-gray-600 dark:text-gray-400 text-lg">
              <p>“Integrating open science principles and tools into the Fediverse, Bonfire is poised to reshape public
                research for the common good. This approach enables researchers to collaborate more openly and
                effectively across institutional boundaries.”</p>
            </blockquote>
            <figcaption class="mt-6 flex items-start gap-x-4">
              <img
                src="https://cdn.masto.host/indiewebsocial/cache/accounts/avatars/113/846/163/887/713/443/original/8d03d7de127eafd2.jpg"
                alt="" class="size-10 rounded-full bg-gray-50 dark:bg-gray-800" />
              <div>
                <div class="font-semibold text-gray-600 dark:text-gray-400">
                  <a href="https://universites.social/@pierre" target="_blank" rel="noopener" class="hover:underline">Dr
                    Pierre Boudes</a>
                </div>
                <div class="mt-2 italic text-gray-600 dark:text-gray-400">Professor</div>
                <div class="text-gray-600 dark:text-gray-400">Sorbonne University</div>
                <div class="mt-2 italic text-gray-600 dark:text-gray-400">Head of IT Infrastructure</div>
                <div class="text-gray-600 dark:text-gray-400">Paris region digital universites (UNIF)</div>
                <div class="text-gray-600 dark:text-gray-400 mt-2">@pierre@universities.social</div>
              </div>
            </figcaption>
          </figure>
        </div>
        
        <div class="pt-8 sm:inline-block w-full">
          <figure class="rounded-2xl bg-gray-50 p-8 text-sm/6 dark:bg-white/2.5">
            <blockquote class="text-lg text-gray-600 dark:text-gray-400">
              <p>“For both local and global academic exchange, the Open Science Network advances beyond traditional
                journals by providing federated, community-governed platforms tailored for scientific collaboration.
                This innovation keeps research connected with society through the Fediverse.”</p>
            </blockquote>
            <figcaption class="mt-6 flex items-start gap-x-4">
              <img
                src="https://cdn.masto.host/indiewebsocial/cache/accounts/avatars/110/395/558/126/305/201/original/a602b743253e89c4.jpg"
                alt="" class="size-10 rounded-full bg-gray-50 dark:bg-gray-800" />
              <div>
                <div class="font-semibold text-gray-600 dark:text-gray-400">
                  <a href="https://www.fressengeas.net" target="_blank" rel="noopener" class="hover:underline">Prof.
                    Nicolas Fressengeas</a>
                </div>
                <div class="mt-2 italic text-gray-600 dark:text-gray-400">Vice-President</div>
                <div class="text-gray-600 dark:text-gray-400">Université de Lorraine</div>
                <div class="text-gray-600 dark:text-gray-400 mt-2">@fresseng@fediscience.org</div>
              </div>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>