<div class="py-24 sm:py-12">
  <div class="mx-auto max-w-6xl px-4 lg:px-0">
    <div class="mx-auto max-w-2xl text-center">
      <p class="mt-2 text-4xl font-semibold font-serif tracking-tight text-balance sm:text-5xl">What researchers are saying</p>
    </div>
    <div class="mx-auto mt-16 flow-root max-w-2xl sm:mt-20 lg:mx-0 lg:max-w-none">
      <div class="-mt-8 sm:-mx-4 sm:columns-2 sm:text-[0] lg:columns-3">
        <div class="pt-8 sm:inline-block w-full">
          <figure class="rounded-2xl bg-gray-50 p-8 text-sm/6 dark:bg-white/2.5">
            <blockquote class="text-gray-600 dark:text-gray-400">
              <p>“The Open Science Network is a fantastic initiative designed to change the governance of scientific discourse. Co-designing with researchers, this can revolutionise scientific discourse and communication with researcher governed environments.”</p>
            </blockquote>
            <figcaption class="mt-6 flex items-center gap-x-4">
              <img src="https://cdn.masto.host/indiewebsocial/cache/accounts/avatars/109/347/286/155/797/088/original/c1f20d13d18ab718.jpg" alt="" class="size-10 rounded-full bg-gray-50 dark:bg-gray-800" />
              <div>
                <div class="font-semibold text-gray-600 dark:text-gray-400">Jonny Coates</div>
                <div class="text-gray-600 dark:text-gray-400">@JACoates@mstdn.social</div>
              </div>
            </figcaption>
          </figure>
        </div>
        <div class="pt-8 sm:inline-block w-full">
          <figure class="rounded-2xl bg-gray-50 p-8 text-sm/6 dark:bg-white/2.5">
            <blockquote class="text-gray-600 dark:text-gray-400">
              <p>“By importing the concepts and tools of open science into the Fediverse, Bonfire will significantly change the way public researchers make science, for a greater good.”</p>
            </blockquote>
            <figcaption class="mt-6 flex items-center gap-x-4">
              <img src="https://cdn.masto.host/indiewebsocial/cache/accounts/avatars/113/846/163/887/713/443/original/8d03d7de127eafd2.jpg" alt="" class="size-10 rounded-full bg-gray-50 dark:bg-gray-800" />
              <div>
                <div class="font-semibold text-gray-600 dark:text-gray-400">Pierre Boudes</div>
                <div class="text-gray-600 dark:text-gray-400">@pierre@universities.social</div>
              </div>
            </figcaption>
          </figure>
        </div>
        <div class="pt-8 sm:inline-block w-full">
          <figure class="rounded-2xl bg-gray-50 p-8 text-sm/6 dark:bg-white/2.5">
            <blockquote class="text-gray-600 dark:text-gray-400">
              <p>"The Open Science Network is the ultimate tool for scientific collaboration and communication. I highly recommend research organizations adopt it to embrace the future of open science and seamless research partnerships.”</p>
            </blockquote>
            <figcaption class="mt-6 flex items-center gap-x-4">
              <img src="https://cdn.masto.host/indiewebsocial/cache/accounts/avatars/114/104/559/671/046/767/original/b08fc62dfed3d3dd.jpeg" alt="" class="size-10 rounded-full bg-gray-50 dark:bg-gray-800" />
              <div>
                <div class="font-semibold text-gray-600 dark:text-gray-400">Jorge Saturno</div>
                <div class="text-gray-600 dark:text-gray-400">@jorgeluis@pub.solar</div>
              </div>
            </figcaption>
          </figure>
        </div>
        
        <div class="pt-8 sm:inline-block w-full">
          <figure class="rounded-2xl bg-gray-50 p-8 text-sm/6 dark:bg-white/2.5">
            <blockquote class="text-gray-600 dark:text-gray-400">
              <p>Whether it be for local or worldwide academic conversation, subject specific or transdisciplinary scientific discourse, the Open Science Network innovates beyond academic journals with designed-for-science community controlled federated platforms that stay connected with society as a whole through the Fediverse.”</p>
            </blockquote>
            <figcaption class="mt-6 flex items-center gap-x-4">
              <img src="https://cdn.masto.host/indiewebsocial/cache/accounts/avatars/110/395/558/126/305/201/original/a602b743253e89c4.jpg" alt="" class="size-10 rounded-full bg-gray-50 dark:bg-gray-800" />
              <div>
                <div class="font-semibold text-gray-600 dark:text-gray-400">Nicolas Fressengeas</div>
                <div class="text-gray-600 dark:text-gray-400">@fresseng@fediscience.org</div>
              </div>
            </figcaption>
          </figure>
        </div>
        
      </div>
    </div>
  </div>
</div>
