<footer id="main-footer" style="background: var(--color-primary); background-image: url(/asset/images/noise-light.png);" class="footer sm:footer-horizontal bg-primary text-primary-content p-10 relative">
  <aside>
    <p class="text-lg font-semibold">
      Open Science Network
    </p>
  </aside>
  <nav>
    <h6 class="footer-title">Start</h6>
    <a class="link link-hover">Start a pilot</a>
    <a class="link link-hover">Host a server</a>
    <a href="https://cal.com/bonfire-networks/meet" target="_blank" class="link link-hover">Book a call</a>
    <a class="link link-hover">Code</a>
  </nav>
  <nav>
    <h6 class="footer-title">Learn</h6>
    <a class="link link-hover">About</a>
    <a class="link link-hover">FAQs</a>
    <a class="link link-hover">About Bonfire</a>
    <a class="link link-hover">Case Studies</a>
  </nav>
  <nav>
    <h6 class="footer-title">OSN</h6>
    <a class="link link-hover">Code of Conduct</a>
    <a class="link link-hover">Press</a>
    <a class="link link-hover">Blog</a>
    <a class="link link-hover">Donate</a>
    <a class="link link-hover">Contact</a>
  </nav>
</footer>