<footer id="main-footer"   class="footer sm:footer-horizontal bg-base-200 p-10 relative">
  <aside>
    <p class="text-lg font-serif font-semibold">
      Open Science Network
    </p>
  </aside>
  <nav>
    <h6 class="footer-title">Start</h6>
    <a href="/pilots" class="link link-hover">Start a pilot</a>
    <a href="/setup" class="link link-hover">Host a server</a>
    <a href="https://cal.com/bonfire-networks/meet" target="_blank" class="link link-hover">Book a call</a>
    <a href="https://github.com/bonfire-networks" class="link link-hover">Code</a>
  </nav>
  <nav>
    <h6 class="footer-title">Learn</h6>
    <a href="/about" class="link link-hover">About</a>
    <a href="https://bonfirenetworks.org" target="_blank" class="link link-hover">About Bonfire</a>
    <a href="/case_studies" class="link link-hover">Case Studies</a>
  </nav>
  <nav>
    <h6 class="footer-title">OSN</h6>
    <a href="https://bonfirenetworks.org/conduct/" target="_blank" class="link link-hover">Code of Conduct</a>
    <!-- <a href="/press" class="link link-hover">Press</a> -->
    <a href="/blog" class="link link-hover">Blog</a>
    <a href="https://opencollective.com/bonfire-networks/projects/open-science-network" class="link link-hover">Donate</a>
    <a href="/contact" class="link link-hover">Contact</a>
  </nav>
</footer>