---
layout: main/base.html
title: Open Science Network
description: Reclaim scientific discourse with federated digital spaces where researchers control their conversations, data and collaborations
---

{% include "hero/hero-section.html" %}
{% include "hero/partner-logos.html" %}
{% include "sections/features-section.html" %}
{% include "sections/cta-middle.html" %}
{% include "sections/comparison-table.html" %}
{% include "sections/deploy-features.html" %}
{% include "sections/testimonials.html" %}
{% include "sections/start.html" %}
